version: '3'

services:
  db:
    image: postgres
  web:
    build: .
    container_name: server-web
    command: python3 manage.py runserver 0.0.0.0:8000
    #command: cd /code/switch && python3 manage.py test
    volumes:
      - /code:/switch
    ports:
      - "8000:8000"
    depends_on:
      - db
